.jumbotron{

    background: url(images/jumboImg.jpg);
    background-size:cover;
    background-position: center;

} 
.h1{
   text-align: center;  
   font-size:200;
}

   

#yo {
    position:relative;
    bottom:0.5em;
    font-size:56px; 
}

body {
    background: url(images/cloud2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
     font-family: 'Comfortaa', cursive;
}
#un {
    margin: 0 10px 0 10px;
    height:50px;
}
#un-input {
    width:50%;
    margin: auto;
    text-align: center;
}
#subTitle {
    font-size:24px;
    position:relative;
    bottom:0.5em;
    text-align:center;
}
#weatherCard {
    display: none;
}

h4{
    background: #007bff;
    color: white;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
}