.jumbotron{

    background: url(images/jumboImg.jpg);
    background-size:cover;
    background-position: center;
        
}
.h1{
   text-align: center;  
   font-size:200;
}

   

#yo {
    position:relative;
    bottom:0.5em;
}

body {
    background: url(images/cloud2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
     background-color: rgba(95, 139, 145, 0.687);
}
#un {
    margin: 0 10px 0 10px;
    height:50px;
}
#un-input {
    width:50%;
    margin: auto;
    text-align: center;
}
